<div id="header" class="row">
  <div class="logo-area two twelfths"><span class="logo">cocowrite</span></div>
  <div class="toolbar ten twelfths" style="background: #0097D1"></div>
</div>
<div class="row">
  <div id="menu" class="two twelfths content">
    <div class="group-title"><i class="icon-list"></i>PROJECTS
      <div class="add-project"><a href="/"><i class="icon-plus"
				  alt="add new project"/></a></div>
    </div>
    <div class="project-list">
    </div>
    <div class="profile">
    </div>
  </div>
  <div class="repo-list ten twelfths skip-two content major-area">
    <h1>Create new project from github repository</h1>
    <div class="spinner"/>
  </div>
</div>
