<div id="header" class="row">
  <div class="logo-area two twelfths"><span class="logo">cocowrite</span></div>
  <div class="toolbar ten twelfths" style="background: #0097D1"></div>
</div>
<div class="row">
  <div id="menu" class="two twelfths content">
    <div class="group-title"><i class="icon-list"></i>PROJECTS
      <div class="add-project"><a href="/"><i class="icon-plus"
				  alt="add new project"/></a></div>
    </div>
    <div class="project-list">
    </div>
    <div class="profile">
      <img src="https://2.gravatar.com/avatar/09c7821955c74cc39b6980dd8ef8a7f0?d=https%3A%2F%2Fidenticons.github.com%2Fc9d66ae84b5ec509d7ffc70cde84570f.png&r=x&s=440"/>
      <div>Huang Liang</div>
      <div>exceedhl</div>
      <div><a href="#">logout</a></div>
    </div>
  </div>
  <div class="repo-list ten twelfths skip-two content major-area">
    <h1>Create new project from github repository</h1>
    <div class="spinner"/>
  </div>
</div>
