<div class="logo logo-container">cocowrite</div>
<div class="new-project-form box">
  
  <div id="message"/>
  
  <p>Import documents into cocowrite from your github
    repository:</p>
  <div class="row pad-top">
    <div class="four fifth">
      <input id="project-github-url" type="text" class="large"
      placeholder="http://github.com/userid/reponame"/>
    </div>
    <div class="one fifth pad-left">
      <input id="create-project" type="submit" class="green large"
             value="Import"/>
    </div>
  </div>
</div>
