<div id="header" class="row">
  <div class="logo-area two ninth"><span class="logo">cocowrite</span></div>
  <div id="toolbar" class="seven ninth">
    You can view this document as <a class="active" href="#">HTML</a>
    | <a href="#">PDF</a>, <a href="#">Export</a> it as a PDF file, Get
    the <a href="#">Permanent Link</a> of this presentation, Share
    this link
    on <a href="#">twitter</a>, <a href="#">facebook</a>,
    or <a href="#">google+</a>.
  </div>
</div>
<div class="row content">
  <div id="project" class="two ninth border-right">
    <div class="meta border-bottom">
    </div>
      <div class="path">
      </div>
      <div class="doclist">
      </div>
  </div>
  <div id="doc" class="seven ninth triple padded skip-two">
  </div>
</div>
