<div id="header" class="row">
  <div class="logo-area two twelfths"><span class="logo">cocowrite</span></div>
  <div id="project-toolbar" class="three twelfths
				   border-right border-bottom">
    <i class="foldin icon-angle-left large" alt="hide this panel"/>
    <i class="refresh icon-refresh" alt="refresh project contents"/>
  </div>
  <div id="doc-toolbar" class="seven twelfths border-bottom">
  </div>
</div>
<div class="row">
  <div id="menu" class="two twelfths content">
    <div class="group-title"><i class="icon-list"></i>PROJECTS</div>
    <div>
      <div class="group-item">Redis-doc</div>
      <div class="group-item">Redis-doc</div>
      <div class="group-item">Redis-doc</div>
      <div class="group-item">Redis-doc</div>
    </div>
    <div class="profile">
      <img src="https://2.gravatar.com/avatar/09c7821955c74cc39b6980dd8ef8a7f0?d=https%3A%2F%2Fidenticons.github.com%2Fc9d66ae84b5ec509d7ffc70cde84570f.png&r=x&s=440"/>
      <div>Huang Liang</div>
      <div>exceedhl</div>
      <div><a href="#">logout</a></div>
    </div>
  </div>
  <div id="project" class="three twelfths skip-two border-right content">
    <div class="meta border-bottom">
    </div>
      <div class="path">
      </div>
      <div class="doclist">
      </div>
  </div>
  <div id="doc" class="seven twelfths skip-five content">
  </div>
</div>
