@import url(http://fonts.googleapis.com/css?family=Cookie);

html, body
{
  height: 100%;
}

#header {
  height: 48px;
  z-index: 1000;
}

.content {
  top: 48px;
  bottom: 0;
}

.logo-area {
  height: 100%;
  color: white;
  text-align: center;
  background-color: #0097D1;
}

.logo {
  font-size: 3em;
  line-height: 1.2;
  font-family: 'Cookie', cursive;
}
  
.logo-container {
  color: white;
  font-size: 5em;
  text-align: center;
  padding-top: 100px;
}
  
.spinner {
  text-align: center;
}