@charset "UTF-8";

@import "/css/groundwork.css";

@import "general";
@import "project";
@import "toolbar";
@import "menu";

body {
  font-weight: 100;
}

h1, h2 {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 1em;
  font-family: Helvetica, Arial, Geneva, sans-serif;
}

h2 {
  font-size: 20px;
  margin: 1em 0 0.5em;
}